<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<meta charset="UTF-8">
<title>ThymeleafTest</title>

<style type="text/css">
.error{
    border-color: red;
    background-color: yellow;
}

</style>
</head>
<body>
表单绑定<br><hr/>
<form action="thymeleaftest.do" method="post" th:object="${user}">
<div class="errors" th:if="${#fields.hasErrors('*')}">
	<ul>
	   <li th:each="err:${#fields.errors('*')}"
	       th:text="${err}"> 输入错误</li>
    </ul>
</div>
<label th:class="${#fields.hasErrors('name')}? 'error'">
姓名
</label>
<!-- field：将前端的控件绑定到后台的value与name -->
<input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? 'error'"/><br>
<label th:class="${#fields.hasErrors('name')}? 'error'">
编号
</label>
<input type="text" th:field="*{code}" th:class="${#fields.hasErrors('code')}? 'error'"/><br>
 <input type="submit"/>
</form>
</body>
</html>